<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>

    <h1>FC Barcelona About Page</h1>
    <img src="/images/logo.jpg" />

    <p>Futbol Club Barcelona , commonly referred to as Barcelona and colloquially known as Barça,<br>
         is a professional football club based in Barcelona, Catalonia, Spain, that competes in La Liga<br>
          the top flight of Spanish football.
</p>
</body>

<button onclick="window.location.href='/views/home.html';">
    Home
</button>
<button onclick="window.location.href='/views/works.html';">
    Works
</button>
<button onclick="window.location.href='/views/gallery.html';">
    Gallery
</button>


</html>