<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FC Barcelona</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>FC Barcelona</h1>
        <img src="/images/team1.png" />
        <p>Welcome to my FC Barcelona page!</p>
        
    <button onclick="window.location.href='/views/about.html';">
        About
    </button>
    <button onclick="window.location.href='/views/works.html';">
        Works
    </button>
    <button onclick="window.location.href='/views/gallery.html';">
        Gallery
    </button>

</body>
</html>
