<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
    <h1>FC Barcelona Trophies</h1>
    <img src="../images/trophies.jpg">
    <p>Some of the trophies won by the team in the last years</p>
</body>

<button onclick="window.location.href='/views/home.html';">
    Home
</button>
<button onclick="window.location.href='/views/about.html';">
    About
</button>
<button onclick="window.location.href='/views/gallery.html';">
    Gallery
</button>

</html>
